Arbeit.pdf
Arbeit.synctex.gz
Arbeit.aux
Arbeit.bbl
Arbeit.bcf
Arbeit.blg
Arbeit.glsdefs
Arbeit.ist
Arbeit.lof
Arbeit.log
Arbeit.out
Arbeit.run.xml
Arbeit.toc

projects/*.jpg
projects/*.png
projects/.idea